In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./all/spray.csv')

In [3]:
df.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [7]:
df.tail()

             Date        Time   Latitude  Longitude
14830  2013-09-05  8:34:11 PM  42.006587 -87.812355
14831  2013-09-05  8:35:01 PM  42.006192 -87.816015
14832  2013-09-05  8:35:21 PM  42.006022 -87.817392
14833  2013-09-05  8:35:31 PM  42.005453 -87.817423
14834  2013-09-05  8:35:41 PM  42.004805 -87.817460

In [4]:
df.shape

(14835, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 4 columns):
Date         14835 non-null object
Time         14251 non-null object
Latitude     14835 non-null float64
Longitude    14835 non-null float64
dtypes: float64(2), object(2)
memory usage: 463.7+ KB

In [6]:
df.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64